@font-face{
    font-family: 'DM Sans';
    src: url('./DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face{
    font-family: 'Dm Sans';
    src: url('./DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: italic;
}